@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
* {
  overflow-x: hidden;
}

body {
  background-color: rgba(255, 254, 237, 0.6);
}

::-webkit-scrollbar {
  max-height: 50%;
  height: 50%;
  width: 10px;
}

::-webkit-scrollbar-track {
  height: 10px;
  background: #666666;
}

::-webkit-scrollbar-thumb {
  height: 10px;
  width: 10px;
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}